canvas {
  border: 1px solid black;
}

#webgl-canvas {
  position: absolute;
  left: calc(50% - 400px);
  top: 0px;
}

#text-canvas {
  position: absolute;
  left: calc(50% - 400px);
  top: 0px;
  z-index: 2;
}

#reset-btn {
  position: absolute;
  left: calc(50% - 400px);
  top: 605px;
}